.chart{
	width: 500px;
    height: 500px;
    border: 1px solid black;
	display: flex;
	position: absolute;
}
.bar-container {
    margin-right: 65px;
    height: 300px;
}
.bar10{
	height: 60px;
	position: absolute;
	bottom: 0;
	text-align:center;
	background-color: red;
	width: 50px;
}
.bar25{
	height: 100px;
	position: absolute;
	bottom: 0;
	text-align:center;
	background-color: orange;
	width: 50px;
}
.bar50{
	height: 175px;
	position: absolute;
	bottom: 0;
	text-align:center;
	background-color: pink;
	width: 50px;
}
.bar75{
	height: 225px;
	position: absolute;
	bottom: 0;
	text-align:center;
	background-color: #90ee90;
	width: 50px;
}
.bar100{
	height: 300px;
	position: absolute;
	bottom: 0;
	text-align:center;
	background-color: aqua;
	width: 50px;
	width: 50px;
}
